{% extends "base.html" %} 
{% block title %}YaCut - укоротитель ссылок{%endblock %} 
{% block content %}
  <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
  <p class="text-center my-4">
    Создайте короткую ссылку автоматически или предложите свой вариант
  </p>

  <div class="container">
      <div class="row my-3">
          <div class="col-sm"></div>
          <div class="col-sm">
              <form method="POST" novalidate>
                  {{ form.csrf_token }}
                  {{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder="Длинная ссылка") }}
                  <p class="text-danger">
                      <span style="color:red">
                          {% for error in form.original_link.errors %}
                              {{ error }}
                          {% endfor %}
                      </span>
                  </p>

                  {{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder="Ваш вариант короткой ссылки") }}
                  <p class="text-danger">
                      <span style="color:red">
                          {% for error in form.custom_id.errors %}
                              {{ error }}
                          {% endfor %}
                      </span>
                  </p>

                  {{ form.submit(class="btn btn-primary") }}
              </form>
          </div>
          <div class="col-sm"></div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
              <p class="text-center">
                {% for message in get_flashed_messages() %}
                    <h5 class="text-center">{{ message }}</h5>
                {% endfor %}
                
                {% if short_url %}
                  <h5 class="text-center">
                    Ваша новая ссылка готова:<br>
                      <a href="{{ short_url }}">{{ short_url }}</a>
                  </h5>
                {% endif %}
              </p>
          </div>
          <div class="col-sm"></div>
      </div>
  </div>
{% endblock %}